/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.95rem;
$code-font-size: 0.85em;

// navbar make it black
$navbar-bg: #000000;
$navbar-fg: #ffffff;

// Force primary color to white
$primary: #ffffff;
$link-color: #ffffff;

// Remove border under navbar
$navbar-border-bottom: none;

// body background
$body-bg: #000000;
