/*-- scss:defaults --*/

// navbar make it black
$navbar-bg: #000000;
$navbar-fg: #ffffff;

// Force primary color to white
$primary: #ffffff;
$link-color: #ffffff;

// Remove border under navbar
$navbar-border-bottom: none;

// body background
$body-bg: #000000;
