/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.95rem;
$code-font-size: 0.85em;

// white navbar
$navbar-bg: #ffffff;
$navbar-fg: #000000;

// Force primary color to black (removes blue from links/buttons)
$primary: #000000;
$link-color: #000000;

// Remove border under navbar
$navbar-border-bottom: none;
