/*-- scss:defaults --*/

// white navbar
$navbar-bg: #ffffff;
$navbar-fg: #000000;

// Force primary color to black (removes blue from links/buttons)
$primary: #000000;
$link-color: #000000;

// Remove border under navbar
$navbar-border-bottom: none;
