/*-- scss:defaults --*/

// Backgrounds & Text
$body-bg: #ffffff;
$body-color: #000000;

// Navbar blending (White on White)
$navbar-bg: #ffffff;
$navbar-fg: #000000;

// Force all accents to Black
$primary: #000000;
$secondary: #000000;
$success: #000000;
$info: #000000;
$warning: #000000;
$danger: #000000;
$link-color: #000000;

// Remove rounded corners
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
