/* Hide navbar borders/shadows */
.navbar {
    border-bottom: none !important;
    box-shadow: none !important;
}

/* Fix double titles */
#quarto-content .quarto-title-block .title {
    display: none;
}

/* Center and narrow content */
main {
    max-width: 800px;
    margin: 0 auto;
}
